# Trained model weights (too large for GitHub)
*.h5
*.keras

# Udacity Simulator binaries (too large)
Default Windows desktop 64-bit.exe
Default Windows desktop 64-bit_Data/

# macOS junk folder
__MACOSX/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.env

# OS files
.DS_Store
Thumbs.db
